header
  .header-container
    img(src='/assets/images/img 2.jpg' alt='Job Aggregator Logo')
    link(rel='stylesheet', href='/assets/css/landing.css')
    nav
      a(href='/') 
        strong Home
      a(href='/jobs') 
        strong Available Jobs
      a(href='/login') 
        strong Sign In
      a(href='/register') 
        strong Create an Account
      button#menu-toggle ☰
