<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="./assets/css/jobs.css"/>
</head>
<body>

    <header>
        <div class="header-container">
            <img src="./assets/images/img 2.jpg">
            <nav>
                <a href="./landing.html"> <strong>Home</strong> </a>
                <a href="./jobs.html"> <strong>Available Jobs</strong></a>
                <a href="./post.html"> <strong>Post Jobs</strong> </a>
                <a href="./login.html"><strong>Sign In</strong></a>
                <a href="./register.html"><strong>Create an Account</strong></a>
                <a href="./dashbord.html"><strong>Dashboard</strong></a>
                <button id="menu-toggle">☰</button>
            </nav>
        </div>
        
    </header>
    <div class="jobs-list-container">
        <h2>6 Jobs</h2>

        <div class="jobs">
            <div class="job">
              <img src="./assets/images/software img.png" alt="" />
                <h3 class="job-title">Software Engineer</h3>
                <div class="details">
                    Responsible for designing , developing and maintaining software 
                    system and applications.
                </div>
                <a href="#" class="details-btn">More Details</a>
                <span class="open-position">4 Open Positions</span>
            </div>
            <div class="job">
                <img src="./assets/images/software img.png" alt="" />
                  <h3 class="job-title">Software Engineer</h3>
                  <div class="details">
                      Responsible for designing , developing and maintaining software 
                      system and applications.
                  </div>
                  <a href="#" class="details-btn">More Details</a>
                  <span class="open-position">4 Open Positions</span>
              </div>
              <div class="job">
                <img src="./assets/images/software img.png" alt="" />
                  <h3 class="job-title">Software Engineer</h3>
                  <div class="details">
                      Responsible for designing , developing and maintaining software 
                      system and applications.
                  </div>
                  <a href="#" class="details-btn">More Details</a>
                  <span class="open-position">4 Open Positions</span>
              </div>
              <div class="job">
                <img src="./assets/images/software img.png" alt="" />
                  <h3 class="job-title">Software Engineer</h3>
                  <div class="details">
                      Responsible for designing , developing and maintaining software 
                      system and applications.
                  </div>
                  <a href="#" class="details-btn">More Details</a>
                  <span class="open-position">4 Open Positions</span>
              </div>
              <div class="job">
                <img src="./assets/images/software img.png" alt="" />
                  <h3 class="job-title">Software Engineer</h3>
                  <div class="details">
                      Responsible for designing , developing and maintaining software 
                      system and applications.
                  </div>
                  <a href="#" class="details-btn">More Details</a>
                  <span class="open-position">4 Open Positions</span>
              </div>
              <div class="job">
                <img src="./assets/images/software img.png" alt="" />
                  <h3 class="job-title">Software Engineer</h3>
                  <div class="details">
                      Responsible for designing , developing and maintaining software 
                      system and applications.
                  </div>
                  <a href="#" class="details-btn">More Details</a>
                  <span class="open-position">4 Open Positions</span>
              </div>
              <div class="job">
                <img src="./assets/images/software img.png" alt="" />
                  <h3 class="job-title">Software Engineer</h3>
                  <div class="details">
                      Responsible for designing , developing and maintaining software 
                      system and applications.
                  </div>
                  <a href="#" class="details-btn">More Details</a>
                  <span class="open-position">4 Open Positions</span>
              </div>
              <div class="job">
                <img src="./assets/images/software img.png" alt="" />
                  <h3 class="job-title">Software Engineer</h3>
                  <div class="details">
                      Responsible for designing , developing and maintaining software 
                      system and applications.
                  </div>
                  <a href="#" class="details-btn">More Details</a>
                  <span class="open-position">4 Open Positions</span>
              </div>
              <div class="job">
                <img src="./assets/images/software img.png" alt="" />
                  <h3 class="job-title">Software Engineer</h3>
                  <div class="details">
                      Responsible for designing , developing and maintaining software 
                      system and applications.
                  </div>
                  <a href="#" class="details-btn">More Details</a>
                  <span class="open-position">4 Open Positions</span>
              </div>
              <div class="job">
                <img src="./assets/images/software img.png" alt="" />
                  <h3 class="job-title">Software Engineer</h3>
                  <div class="details">
                      Responsible for designing , developing and maintaining software 
                      system and applications.
                  </div>
                  <a href="#" class="details-btn">More Details</a>
                  <span class="open-position">4 Open Positions</span>
              </div>
              <div class="job">
                <img src="./assets/images/software img.png" alt="" />
                  <h3 class="job-title">Software Engineer</h3>
                  <div class="details">
                      Responsible for designing , developing and maintaining software 
                      system and applications.
                  </div>
                  <a href="#" class="details-btn">More Details</a>
                  <span class="open-position">4 Open Positions</span>
              </div>
              <div class="job">
                <img src="./assets/images/software img.png" alt="" />
                  <h3 class="job-title">Software Engineer</h3>
                  <div class="details">
                      Responsible for designing , developing and maintaining software 
                      system and applications.
                  </div>
                  <a href="#" class="details-btn">More Details</a>
                  <span class="open-position">4 Open Positions</span>
              </div>
        </div>
    </div>

    <footer class="section-p1">
        <div class="col">
            <h4>Contact</h4>
            <p><strong>Email id: </strong>halfdozenncrew@gmail.com</p>
            <p><strong>Phone:</strong> +91 8125768807</p>
            <div class="follow">
                <h4>Follow Us</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest-p"></i>
                    <i class="fab fa-youtube"></i>   
                </div>
            </div>
        </div>
        <div class="col">
            <h4>About</h4>
            <a href="#">About Us</a>
            <a href="#">Post Job</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact Us</a>
        </div>
        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign in</a>
            <a href="#">Register</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My Order</a>
            <a href="#">Help</a>
        </div>
        <div class="col install">
            <h4>Install App</h4>
            <p>From App Store or Google Play</p>
            <div class="row">
                <img src="./assets/images/app.jpg" alt="">
                <img src="./assets/images/play.jpg" alt="">
            </div>
            <p>Secured Payment Gateways</p>
            <img src="./assets/images/pay.png" alt="">
        </div>
        <!--<div class="copyright">
            <p>&copy; 2024 , Ava etc - Online Ecommerce Store</p>
        </div>-->
    </footer>
    <script src="./assets/js/jobs.js"></script>
</body>
</html>